.modal {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.6s ease;
  border: 1px solid black;
  padding: 40px;
}

.modal--open {
  top: 50%;
  z-index: 1;
  background-color: whitesmoke;
}

.modal__text {
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  cursor: pointer;
}

.modal-table {
  border-collapse: collapse;
}

.modal-table td,
.modal-table th {
  width: 200px;
  height: 30px;
  text-align: left;
  font-size: 24px;
  border: 1px solid black;
  padding: 10px;
}

.modal-table th {
  padding: 0;
}

.modal-table__controls {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.modal-table__search {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding: 10px;
  font-size: 24px;
}

.button {
  padding: 0;
}

.modal__open {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 200px;
  height: 50px;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  font-size: 24px;
  border: none;
}